@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-padding {
  @apply px-3 md:px-10 lg:px-16 xl:px-24;
}

body {
  background-color: #f2f3f7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.airbnb {
  font-family: "Airbnb", sans-serif;
}
